<h1>Welcome to a .netCore playGround</h1>
<p>The main goal of this page is to manipulate the penn state directory search results pages </p>

<form>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="userID">UserID:</label>
        <input type="text" class="form-control" id="userID">
    </div>
    <div class="form-group">
        <label for="e-mail">Email:</label>
        <input type="email" class="form-control" id="e-mail">
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
</form>

